.main {
    width: 980px;
    height: 455px;
    margin-left: 220px;
    margin-top: 10px;
}

.focus {
    position: relative;
    float: left;
    width: 721px;
    height: 455px;
    background-color: skyblue;
    overflow: hidden;
}

.focus ul {
    width: 600%;
}

.focus ul li {
    float: left;
}

.focus .arrow-l,
.focus .arrow-r {
    display: none;
    height: 30px;
    width: 20px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    background-color: rgba(0, 0, 0, .3);
    color: #fff;
}

.focus .arrow-l {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.focus .arrow-r {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.circle {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
}

.circle li {
    float: left;
    margin-left: 10px;
    height: 15px;
    width: 15px;
    border: 1px solid #fff;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, .3);
}

.current {
    background-color: #fff !important;
    border: 1px solid #ccc !important;
}

.news {
    float: right;
    width: 250px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    border-bottom: 0;
}

.news_header {
    position: relative;
    height: 36px;
    border-bottom: 1px dotted #ccc;
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
    color: #5d5d5d;
    padding-left: 14px;
}

.news_header h4 {
    float: left;
}

.news_header a {
    float: right;
}

.news_header a::after {
    content: '\e920';
    font-family: "icomoon";
    margin-right: 16px;
    margin-left: 10px;
}

.news_bd {
    height: 133px;
    border-bottom: 0;
    padding-left: 15px;
}

.news_bd ul li span {
    font-weight: 700;
    margin-right: 4px;
}

.news_bd ul li {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    margin-top: 6px;
}

.news_bottom {
    position: relative;
    width: 250px;
    border-bottom: 1px solid #ccc;
}

.news_bottom ul li {
    position: relative;
    float: left;
    height: 66px;
    width: calc(250px/4);
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.news_bottom ul li:nth-child(4n+1) {
    border-left: 0;
}

.news_bottom ul li i {
    position: absolute;
    display: block;
    height: 28px;
    width: 28px;
    margin-top: 12px;
    left: 50%;
    margin-left: -14px;
}

.news_bottom ul li:nth-child(1) i {
    background: url(../images/icons.png) no-repeat -15px -15px;

}

.news_bottom ul li:nth-child(2) i {
    background: url(../images/icons.png) no-repeat -76px -15px;
}

.news_bottom ul li:nth-child(3) i {
    background: url(../images/icons.png) no-repeat -139px -15px;
}

.news_bottom ul li:nth-child(4) i {
    background: url(../images/icons.png) no-repeat -202px -15px;
}

.news_bottom ul li:nth-child(5) i {
    background: url(../images/icons.png) no-repeat -16px -87px;
}

.news_bottom ul li:nth-child(6) i {
    background: url(../images/icons.png) no-repeat -76px -87px;
}

.news_bottom ul li:nth-child(7) i {
    background: url(../images/icons.png) no-repeat -139px -87px;
}

.news_bottom ul li:nth-child(8) i {
    background: url(../images/icons.png) no-repeat -204px -87px;
}

.news_bottom ul li:nth-child(9) i {
    background: url(../images/icons.png) no-repeat -15px -158px;
}

.news_bottom ul li:nth-child(10) i {
    background: url(../images/icons.png) no-repeat -76px -158px;
}

.news_bottom ul li:nth-child(11) i {
    background: url(../images/icons.png) no-repeat -139px -156px;
}

.news_bottom ul li:nth-child(12) i {
    background: url(../images/icons.png) no-repeat -204px -158px;
}

.news_bottom ul li p {
    position: absolute;
    bottom: 5px;
    left: 50%;
    margin-left: -14px;
}

.main img {
    display: block;
    float: right;
}

.recom {
    height: 163px;
    background-color: #ebebeb;
    margin-top: 12px;
}

.recom_hd {
    float: left;
    height: 163px;
    width: 205px;
    background-color: #5c5251;
    text-align: center;
    padding-top: 30px;
}

.recom_bd {
    float: left;
}

.recom_bd ul li {
    position: relative;
    float: left;
}

.recom_bd ul li img {
    width: 248px;
    height: 163px;
}

.recom_bd ul li:nth-child(-n+3):after {
    content: '';
    position: absolute;
    top: 10px;
    right: 0;
    width: 1px;
    height: 145px;
    background-color: #dddddd;
}

/* 猜你喜欢 *236+26*/
.like {
    margin-top: 15px;
}

.like_hd {
    position: relative;
    height: 35px;
    line-height: 35px;
    border: none;
}

.like_hd span:first-child {
    float: left;
    font-size: 18px;
}

.like_hd span:last-child {
    display: block;
    float: right;
    width: 60px;
    height: 18px;
    line-height: 18px;
    margin-right: 10px;
    margin-top: 15px;
    font-size: 12px;
    color: #666;

}

.like_hd span:last-child::after {
    display: block;
    float: right;
    content: '';
    height: 18px;
    width: 18px;
    position: absolute;
    bottom: 2px;
    right: 0;
    margin-right: 15px;
    background: url(../images/icons.png) no-repeat -418px -109px;
}

.like_bd {
    position: relative;
    border: 1px solid #ededed;
    border-top: none;
    height: 236px;
}

.like_bd ul li {
    border: none;
    float: left;
    height: 236px;
    width: 199px;
}

.like_bd ul li .img {
    width: 202px;
    height: 155px;
    border: none;
}

.like_bd ul li .description {
    height: 45px;
    text-align: center;
    padding-top: 5px;
    font-size: 12px;
    color: #666;
}

.like_bd ul li .price {
    padding-left: 38px;
    font-size: 18px;
    font-weight: 700;
    color: #df3033;
}

/* 有趣区 */
.fun {
    height: 440px;
    margin-top: 20px;
    border: 1px solid #ededed;
}

.fun_hd {
    width: 100%;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #ededed;
}

.fun_hd h4 {
    font-size: 18px;
    color: #333333;
    font-weight: 400;

}

.fun_hd p {
    font-size: 16px;
}

.fun_bd {
    position: relative;
    width: 100%;
}

.fun_bd .books {
    float: left;
    width: 405px;
    height: 404px;
    padding: 24px 0 0 24px;
    background-color: pink;
    background: url(../upload/books.png);
}

.fun_bd .good {
    position: relative;
    float: left;
    width: 227px;
    height: 404px;
    border-right: 1px solid #ededed;
    background-color: #f7f7f7;

}

.fun_bd .good h4 {
    position: absolute;
    left: 50%;
    text-align: center;
    height: 40px;
    width: 190px;
    border-bottom: 1.5px dotted #ededed;
    margin-left: calc(-190px/2);
    font-weight: 700;
    font-size: 12px;
    line-height: 40px;

}

.fun_bd .good .recom {
    margin: 0;
    position: absolute;
    top: 40px;
    height: 208px;
    width: 100%;
    background: url(../upload/good.png) no-repeat 95px 30px;

}

.fun_bd .good .recom p {
    position: absolute;
    top: 66px;
    margin-left: 10px;
}

.fun_bd .good .recom p span {
    display: block;
}

.fun_bd .good .recom p span:first-child {
    font-size: 16px;
    font-weight: 700;
}

.fun_bd .good .recom p span:nth-of-type(2),
.fun_bd .good .recom p span:nth-of-type(3) {
    font-size: 12px;
}

.fun_bd .good .find {
    position: absolute;
    top: 245px;
    height: 160px;
    width: 100%;
    border-top: 1px solid #ededed;
    /* background-color: pink; */
    background: url(../upload/good2.png) no-repeat 102px 11px;
}

.fun_bd .good .find p {
    margin-top: 55px;
    margin-left: 10px;
}

.fun_bd .good .find p span {
    display: block;
}

.fun_bd .good .find p span:first-child {
    font-size: 16px;
    font-weight: 700;
}

.fun_bd .good .find p span:nth-child(2),
.fun_bd .good .find p span:nth-child(2) {
    font-size: 12px;

}

/* w405 */
.fun_bd .brand {
    float: left;
    width: 400px;
    height: 403px;
    border-right: 1px solid #ededed;
    background-color: #f7f7f7;

}

.fun_bd .brand h4 {
    height: 40px;
    line-height: 40px;
    width: 370px;
    margin-left: 15px;
    text-align: center;
    border-bottom: 1.5px dotted #ededed;
}

.fun_bd .brand .su {
    height: 206px;
    width: 100%;
    border-bottom: 1px solid #ededed;
    background: url(../upload/su.png) no-repeat 47px 30px;
}

.fun_bd .brand .clothes {
    position: relative;
    width: 100%;
}

.fun_bd .brand .clothes div:first-child {
    float: left;
    width: 50%;
    height: 160px;
    border-right: 1px solid #ededed;
    background: url(../upload/clothes.png) no-repeat 85px 25px;
}

.fun_bd .brand .clothes div p {
    margin-top: 50px;
    margin-left: 10px;
}

.fun_bd .brand .clothes div p span {
    display: block;
}

.fun_bd .brand .clothes div:first-child p span:first-child,
.fun_bd .brand .clothes div:last-child p span:first-child {
    font-weight: 700;
    font-size: 16px;
}

.fun_bd .brand .clothes div:last-child {
    float: right;
    width: 50%;
    height: 160px;
    background: url(../upload/clothes2.png) no-repeat 85px 25px;

}

/* 商标 */
.fun_bd .pic {
    float: left;
    width: 166px;
    height: 406px;
    background: url(../upload/pic.png) no-repeat 2px;
    border-bottom: 1px solid #ededed;
    padding: none;
}

/* 家用电器 */
.jiadian_hd {
    height: 35px;
    border-bottom: 2px solid #c81623;
    margin-top: 20px;
}

.jiadian_hd h4 {
    float: left;
    font-size: 18px;
    color: #cc353e;
}

.jiadian_hd .table_list {
    float: right;
    width: 665px;
    height: 20px;
    margin-top: 10px;
    padding-right: 1px;
}

.jiadian_hd .table_list ul li {
    display: inline-block;
    width: 70px;
    text-align: center;
}

.jiadian_hd .table_list ul li:last-child {
    margin-right: 5px;
}

.jiadian_hd .table_list ul li:nth-child(-n+8) {
    border-right: 1px solid #ccc;
}

.jiadian_bd {
    height: 360px;
    width: 100%;
}

.jd_list_item>div {
    float: left;
}

.col_210 {
    width: 210px;
    background-color: #f9f9f9;
    height: 361px;
    text-align: center;
}

.col_210 ul {
    padding-left: 12px;
}

.col_210 ul li {
    float: left;
    width: 85px;
    height: 34px;
    border-bottom: 2px solid #ccc;
    text-align: center;
    line-height: 33px;
    margin-right: 10px;
}

.col_329 {
    width: 329px;
}

.col_221 {
    width: 221px;
    text-align: center;
    border: 1px solid #ededed;
}

.col_221 img {
    margin-top: 23px;
}

.col_221 hr {
    border: .5px solid #ededed;
}

.col_221_2 {
    margin-top: 7px;
    border-bottom: 1px solid #ededed;
}

.col_219 {
    width: 219px;
}